{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
      {% if 'username' in session %}
          <span class="pull-right">
                Connecté : <em>{{ session.username }}</em> &nbsp;
                      <a href="/logout?from={{ name }}" class="btn btn-danger">Se déconnecter</a>
                          </span>
                              {% else %}
                                  <a href="/login?from={{ name }}" class="pull-right btn btn-primary">Login</a>
                                      {% endif %}
                                          <a class="btn btn-primary" href="/">Acceuil</a>
                                          <a class="btn btn-primary" href="/">Catégories</a>
                                          <a class="btn btn-primary" href="/">Articles au hasard</a>
                                            </div>
                                            </div>

                                            <div class="row sep">
												Ecris par <strong>{{ session.username}}</strong>
												<img src="ane_g.jpg" alt="W3Schools.com" style="width:104px;height:142px">
                                              <div class="col-xs-12">{{ text|safe }}</div>
                                              </div>

                                              {% if 'username' in session %}
                                              <div class="row sep">
                                                <div class="col-xs-12">
                                                    <hr>
                                                        <form action="/save" method="POST" role="form">															
                                                              <textarea id="markdown" name="text" class="form-control" rows="10">{{ raw }}</textarea>
                                                                    <p></p><button type="submit" class="btn btn-default">Save</button></p>
                                                                    <p><a href="http://daringfireball.net/projects/markdown/"target="Markdown">Markdown reference</a></p>
                                                                    <a href="http://getbootstrap.com/"target="Bootstrap">Bootstrap</a>
                                                                          <input type="hidden" name="page" value="{{ name }}">
                                                                                    </form>
                                                                                      </div>
                                                                                      </div>
                                                                                      {% endif %}

                                                                                      {% endblock %}
